body {
  background-image: url(./images/background.jpg);
  background-size: cover;
  /* min-height: 50vh; */
}

.container {
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

